# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr
out/

# ========================
# Java 编译产物
# ========================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ========================
# Maven
# ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ========================
# Gradle
# ========================
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# ========================
# 日志与临时文件
# ========================
*.log
*.tmp
*.temp
*.swp
*.swo
hs_err_pid*

# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride
._*

# ========================
# Windows
# ========================
Thumbs.db
ehthumbs.db
Desktop.ini

# ========================
# 环境变量 / 敏感配置
# ========================
.env
.env.local
.env.*.local


data

node_modules
.next

.remember